@import "../Common/Styles/sass/mixins.scss";
@import "../Common/Styles/sass/variables.scss";

.header {
    height: 80px ;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}