.contactsBlock{
    /*height: 80vh;*/
    background-color: #ffb7fe;
}
.contactsContainer{
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffc3d2;
}
.title{

}
.form{
    width: 50%;
    height: 200px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form input, form textarea {
    width: 100%;
}
.submitBth {
    padding: 10px 20px;

}