.skillsBlock {

    background-color: #04ff2f;
    padding: 50px;


}


.skillsContainer {
   flex-direction: column;
    justify-content: flex-start;
}

.title {
background-color: #ffd58b;
}
.skills {
    width: 100%;
    display: flex ;
    justify-content: space-between;
    flex-wrap: wrap;
  @media screen and (max-width: 1350px) {
    justify-content: center;
  }
}
