.TeleWork {

    background-color: #ffe19f;

}

.workContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.remote {
    background-color: #fffbe4;
}

.buttonMe {
    padding: 10px 20px;
    background-color: #282c34;
}