@import "../Common/Styles/sass/mixins.scss";
@import "../Common/Styles/sass/variables.scss";

.nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
margin-right: 20px;
  a {
    @include text($textFontFamily, 16px, 1.5);
    text-decoration: none;
    z-index: 1;
  }
}