.downBlock{

    background-color: #afb0ff;
}
.downContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title{

}

.socialIcons {
    width: 250px;
    background-color: #88d0ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialIcon{
    height: 50px;
    width: 50px;
    background-color: #ffb7fe;
}